# System files
.DS_Store
Thumbs.db

# IDE and editor folders
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
logs
*.log

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm 